<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
        <style>
            .card.text-center.text-bg-dark.mb-3 {
                max-width: 18rem;
                min-height: 181px;
                max-height: 181px;
            }

            .a {
                text-decoration: auto;
            }
        </style>
                  <!-- Activities Start -->
                  <div class="container-fluid activities py-5">
                    <div class="container py-5">
                        <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                        </div>
                        <div class="row g-4">
                            <%for(sub of data){%> 
                            <div class="col-lg-6 col-xl-4">
                                <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                                    
                                    <div class="ms-4">
                                        <div class="d-flex" style="
                                        
                                        align-items: center;
                                    ">
                                        <h4><%=sub.teacherName%></h4>
                                    </div>
                                        <p class="mb-4" style="
                                        height: 100px;
                                        overflow: auto;
                                    "><%=sub.name%></p>
                                    <a href="/subject/<%=sub.teacherId%>/anashid/<%=sub._id%>" class="btn btn-primary px-3">
                                        عرض                                    
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
                <!-- Activities End -->

        <%- include('parts/footer.ejs')%>