<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
        <style>
            .card.text-center.text-bg-dark.mb-3 {
                max-width: 18rem;
                min-height: 385px;
                max-height: 385px;
            }

            .a {
                text-decoration: auto;
            }
        </style>


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row g-4 justify-content-center">
                <%for(sub of data){%>
                                <div class="col-lg-6">
                                    <a href="/photos/<%= sub._id%>" class="blog-item wow fadeIn" data-wow-delay="0.1s">
                                        <div class="blog-img position-relative overflow-hidden" style="max-height: 300px;">
                                            <img src=" <%= sub.image%>"  class="card-img-top">
                                        </div>
                                        <div class="p-4">
                                            <div class="blog-meta d-flex justify-content-between pb-2">                                     
                                            </div>
                                            <a href="/photos/<%= sub._id%>" class="d-inline-block h4 lh-sm mb-3"><%= sub.name%></a>
                                        </div>
                                    </a>
                                </div>                       
                                    <%}%>
                </div>
            </div>
        </div>
        <%- include('parts/footer.ejs')%>