<%- include('parts/header.ejs')%>
    <%- include('parts/nav.ejs')%>
      <!-- Activities Start -->
      <div class="container-fluid activities py-5">
        <div class="container py-5">
            <div class="mx-auto text-center mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
            </div>
            <div class="row g-4">
                <%for(scholar of data){%> 
                <div class="col-lg-6 col-xl-4">
                    <div class="activities-item p-4 wow fadeIn" data-wow-delay="0.1s">
                        
                        <div class="ms-4">
                            <div class="d-flex" style="
                            
                            align-items: center;
                        ">
                                <img src="<%=scholar.image%>" class="img-fluid" style="
                                margin-left: 10px;
                            width: 50px;
                            border-radius: 50%;
                            height: 50px;

                        ">
                            <h4><%=scholar.name%></h4>
                        </div>
                            <p class="mb-4" style="
                            height: 200px;
                            overflow: auto;
                        "><%=scholar.discr%></p>
                        <a href="scholar/<%=scholar._id%>" class="btn btn-primary px-3">
                            عرض                                    
                        </a>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
    <!-- Activities End -->

        <!-- <style>
            a.col-4 {
                max-width: 235px;

            }

            .card-img-top {
                transition: all ease-in-out .5s;
            }

            .card:hover .card-img-top {
                height: 11rem;
                box-shadow: -4px 7px 20px;
                width: 92%;
                margin-right: 4%;
                margin-bottom: 1px;
            }
        </style>
        <div class=" row my-0 mt-2" style="
        margin: 0;
    ">

            <div class="col-9 row" style="
            margin: 0;
            direction: rtl;
        "><div class="d-flex justify-content-center">
                <iframe
                    src="https://timesprayer.com/widgets.php?frame=1&amp;lang=ar&amp;name=mascat&amp;sound=true&amp;avachang=true&amp;fcolor=000000&amp;tcolor=2D959C&amp;frcolor=2D959C&"
                    style="border: none;overflow: hidden;width: 50%;height: 188px;max-width: 500px;">
                </iframe></div>
                <h2 style="
                text-align: center;
            ">العلماء والدعاة</h2>
                <% for(let scholar of data){ %>

                    <a class="col-lg-4 col-sm-6 my-2  mt-2 btn " href="scholar/<%=scholar._id%>" style="    border: 0; max-width: 350px;">

                        <div class="card" style="
                        max-height: 358px;
                        overflow: hidden;
                        min-height: 358px;
                    ">
                            <img src="<%=scholar.image%>" style="height: 11rem;" class="card-img-top " alt="<%=scholar.name%>"
                                title="<%=scholar.name%>">
                            <div class="card-body" style="
overflow: auto;
height: 100%;
">
                                <h2>
                                    <%=scholar.name%>
                                </h2>
                                <p class="card-text">
                                    <%=scholar.discr%>
                                </p>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
            <div class="col-3">
                <%- include('parts/list.ejs')%>
            </div>
        </div> -->
        <%- include('parts/footer.ejs')%>